In [ ]:
from itertools import groupby
import pandas as pd
import seaborn as sns
import csv
import matplotlib.pyplot as plt

In [ ]:
# For MatPlotLib
input_file = 'top100videogamesales.csv'
plt.figure(figsize=(7, 4.25))
with open(input_file, 'r') as sales_data:
    sales_lib = list(csv.reader(sales_data))
sales_lib.pop()

In [ ]:
# For Seaborn 
sns.set_theme(context='notebook', style='darkgrid', palette='deep', font_scale=1)
sales = pd.read_csv('top100videogamesales.csv')
sns.set(rc={"figure.figsize":(23, 10)}) #width, #height

In [ ]:
# For Pandas
pandas = pd.read_csv('top100videogamesales.csv')

sales.head()

# Regional Sales by Publisher

NA Sales

In [ ]:
na_sales = pandas.groupby(['Publisher']).sum().plot(kind='bar', y='NA_Sales',stacked=True)

Nintendo had the most NA Sales, while 505 Games and Saga had the least

EU Sales

In [ ]:
eu_sales = pandas.groupby(['Publisher']).sum().plot(kind='bar', y='EU_Sales')

Nintendo Had the Most EU Sales while 505 Games had the least.

Japenese Sales

In [ ]:
JP_sales = pandas.groupby(['Publisher']).sum().plot(kind='bar', y='JP_Sales')

Nintendo destroyed Japanese Sales. 505 Games and Ubisoft did not make the graph

Other Sales

In [ ]:
Other_sales = pandas.groupby(['Publisher']).sum().plot(kind='bar', y='Other_Sales')

Nintendo again has had the most sales. 505 Games and Sega had the least.

Global Sales

In [ ]:
Global_sales = pandas.groupby(['Publisher']).sum().plot(kind='bar', y='Global_Sales')

Nintendo had the most global sales while 505 Games and Sega had the least

Sales by Year

In [ ]:
na_sales_year = pandas.groupby(['Year']).sum().plot(kind='line', y='NA_Sales')

2006 Had the most North America Sales while 2003 had the least. We are currently seing a decline after 2010

In [ ]:
eu_sales_year = pandas.groupby(['Year']).sum().plot(kind='line', y='EU_Sales')

2006 and 2009 saw the most sales. 2003 had the least sales, but sales seem to be steady after 2014